version: '3.8'

services:
  sms-gateway:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./config.json:/config.json
      - ./ignore-alert.json:/ignore-alert.json
    restart: unless-stopped
